.section-title {
      margin-bottom: 1rem;
      margin-left: .1rem;
      position: sticky;
      top: calc(15vh - 2rem - 2.5rem * 1.3);
    }
    .projects-stack {
      display: flex;
      flex-direction: column;
    }

    @media screen and (width < 1000px) {
      .section-title {
        top: calc(9vh - 2rem - 2.5rem * 1.3);
      }
    }

    @media screen and (width < 500px) {
      .section-title {
        position: relative;
      }
    }