.section-title {
      margin-bottom: 1rem;
      margin-left: .1rem;
    }
    .projects-stack {
      display: flex;
      flex-direction: column;
      gap: 3rem;
    }

    @media screen and (width < 1000px) {
      .section-title {
        top: calc(9vh - 2rem - 2.5rem * 1.3);
      }
    }

    @media screen and (width < 500px) {
      .section-title {
        position: relative;
      }

      ::ng-deep .desktop-only {
        display: none;
      }
    }
