.pricing-section {
  background-color: var(--background-color);
  max-width: var(--project-width);
  margin: 0 auto;
}

.section-header {
  margin-bottom: 1rem;
}

.pricing-grid {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
}

.button-wrapper {
  width: 100%;
  margin-top: 2.5rem;
  display: flex;
  justify-content: center;

}

@media (min-width: 860px) {
  .pricing-grid {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

@media (min-width: 1200px) {
  .pricing-section {
    padding: 6rem 1rem;
  }
}

app-pricing-card {
  position: relative;
}

app-pricing-card:first-of-type::before {
  content: 'auch als Relaunch';
  position: absolute;
  font-size: 1rem;
  color: var(--white);
  text-align: center;
  border-radius: 1em;
  letter-spacing: -1%;

  background-color: var(--tertiary-color);
  top:0;
  left: 0;
  transform: rotate(-15deg) translate(-25%, -25%);
  transform-origin: center center;
  max-width: 120px;
  padding: .5rem;
}
